.DS_Store
.vscode
.idea
*.pyc
local_settings.py
/.env
.venv
venv
*.log
vol/*
!vol/.gitkeep
log/*
!log/.gitkeep
!public/.gitkeep
!ci_conf/local_settings.py
!docs/.gitkeep
db.sqlite3
package-lock.json
dump.rdb