{% extends 'base.html' %}

{% block content %}



<div class="product">
    <div class="container">
    <div class="inner">
    <div class="left">
        <div class="product-swiper swiper">
            <div class="swiper-wrapper">
                {% for i in product %}
                        <img src="{{ i.image.url }}" alt="">
            </div>
    </div>
<div class="info">
    <div class="bread-crumbs">
        <a href="#!" class="link">Главная /</a> <span class="cur-link">Стоматологические инструменты</span>
    </div>
    <h1 class="title">{{ i.title }}</h1>
    <p class="text">{{ i.description }}
    </p>
    <a href="https://www.youtube.com/watch?v=RAFIsnzUGCQ" class="link link-btn">Заказать</a>
</div>
</div>
</div>
{% endfor %}
<section class="similar">
    <div class="container">
        <h2 class="title">Похожие товары</h2>
        <div class="catalog-grid">
            <div class="catalog-item">
                <div class="img">

                    <img src="../assets/img/png/reg-bg.png" alt="">
                </div>
                <div class="info">
                    <h3 class="title">DIAGNOcam</h3>
                    <p class="text">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="catalog-item">
                <div class="img">
                    <img src="../assets/img/png/reg-bg.png" alt="">
                </div>
                <div class="info">
                    <h3 class="title">DIAGNOcam</h3>
                    <p class="text">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="catalog-item">
                <div class="img">
                    <img src="../assets/img/png/reg-bg.png" alt="">
                </div>
                <div class="info">
                    <h3 class="title">DIAGNOcam</h3>
                    <p class="text">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="catalog-item">
                <div class="img">
                    <img src="../assets/img/png/reg-bg.png" alt="">
                </div>
                <div class="info">
                    <h3 class="title">DIAGNOcam</h3>
                    <p class="text">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{##}
{##}
{#<script src="../assets/js/script.js"></script>#}
{#<script src="../assets/js/swiper.js"></script>#}
{#<script>#}
{#    var swiper = new Swiper(".product-swiper-thumb", {#}
{#        spaceBetween: 15,#}
{#        slidesPerView: 4,#}
{#        navigation: {#}
{#            nextEl: ".thumb-next",#}
{#            prevEl: ".thumb-prev",#}
{#        },#}
{#        breakpoints: {#}
{#            320: {#}
{#                spaceBetween: 8,#}
{#                slidesPerView: 3,#}
{#            },#}
{#            426: {#}
{#                spaceBetween: 15,#}
{#                slidesPerView: 4,#}
{#            }#}
{#        }#}
{#    });#}
{#    var swiper2 = new Swiper(".product-swiper", {#}
{#        spaceBetween: 10,#}
{#        thumbs: {swiper}#}
{#    });#}
{#</script>#}
{#</body>#}
{#</html>#}